fabric2==2.7.1
patchwork==1.0.1
django-debug-toolbar==6.2.0
tox==4.36.1
pytest==9.0.2
pylama==8.4.1
requests==2.32.5
mypy==1.19.1
django-stubs==5.2.9
types-PyYAML==6.0.12.20250915
celery-types==0.24.0
