Django==4.1.2
django-csp==3.7
django-probes==1.7.0
mysql-connector-python==8.0.30
mysqlclient==2.1.1
pyyaml==6.0
django-sendgrid-v5==1.2.1
whitenoise==6.2.0
celery==5.2.7
django-celery-results==2.4.0
git+https://github.com/celery/django-celery-beat.git@v2.3.0#egg=django-celery-beat # pending new release: https://github.com/celery/django-celery-beat/issues/465
