fabric2==3.2.2
patchwork==1.0.1
django-debug-toolbar==6.1.0
tox==4.33.0
pytest==9.0.2
pylama==8.4.1
requests==2.32.5
mypy==1.19.1
django-stubs==5.2.8
types-PyYAML==6.0.12.20250915
celery-types==0.24.0
