Django==4.1.4
django-csp==3.7
django-probes==1.7.0
mysql-connector-python==9.1.0
mysqlclient==2.1.1
pyyaml==6.0.3
django-sendgrid-v5==1.2.1
whitenoise==6.2.0
celery==5.5.3
django-celery-results==2.4.0
git+https://github.com/celery/django-celery-beat.git@v2.8.1#egg=django-celery-beat # pending new release: https://github.com/celery/django-celery-beat/issues/465
